
[user]
    name = HenryNewcomer
    email = a.cliche.email@gmail.com
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
# Sets the login to stay cached for 12 hours
# ...or until reboot (due to tmp dir)
[credential]
    helper = store --file /tmp/.git-credentials
    helper = cache --timeout 43200